body {
  	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.row {
	padding-top: 10px;
}

#intro {
	padding-top: 20px;
}

#intro > p {
	font-size: 1.15em;
}

#copyright {
	text-align: center;
}

#social {
	text-align: center;
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}

@media only screen and (min-width: 768px) {
    #copyright {
    	text-align: left;
    }
    
    #social {
    	text-align: right;
    }
}


.social-youtube {
	color:#FF3333
	}

.social-twitter {
	color:#4099FF
	}

.social-facebook {
	color:#3B5998
	}
	
.social-facebook a {
	color:#3B5998
	}

/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("../fonts/social_foundicons.eot");
  src: url("../fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("../fonts/social_foundicons.woff") format("woff"), url("../fonts/social_foundicons.ttf") format("truetype"), url("../fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */

.foundicon-facebook:before {
  content: "\f003";
}

.foundicon-twitter:before {
  content: "\f004";
}

.foundicon-github:before {
  content: "\f006";
}

.foundicon-dribbble:before {
  content: "\f009";
}

.foundicon-youtube:before {
  content: "\f00e";
}
